/* VARIABLES */
/* Colors */
:root {
    --bg-primary: #1abc9c;
    --bg-secondary: #2c3e50;
    --bg-section: #3a546d;
}

/* RESET */
img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/* UTILITIES */
.gap-10 {
    gap: 10px;
}

/* HEADER */
/* Nav */

.nav_container {
    background-color: var(--bg-secondary);
    color: white;
}

.navbar-brand,
.navbar-toggler-icon {
    color: white;
}

@media screen and (min-width: 992px) {
    .navbar {
        width: 70%;
        margin: 0 auto;
    }
}

/* Jumbotron */
.jumbotron {
    background-color: var(--bg-primary);
    color: white;
}

.jt_logo_container {
    height: 200px;
}

.star_logo_white::before, .star_logo_white::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color: white;
}

/* MAIN */
/* Portfolio */
.star_logo_black::before, .star_logo_black::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color: black;
}

@media screen and (min-width: 1200px) {
    .portfolio {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}

/* About */
.about {
    background-color: var(--bg-primary);
    color: white;
}

@media screen and (min-width: 992px) {
    .about_container {
        width: 70%;
        margin: 0 auto;
    }
}

.star_logo_white::before, .star_logo_white::after {
    content: '';
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color: white;
}

.download_btn {
    border: 1px solid white;
    padding: 10px;
    margin: 0 auto;
    width: 150px;
}

/* Contact */
.form-control {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.form-control:focus {
    border-color: unset;
    box-shadow: none;
}

.ms_btn {
    background-color: var(--bg-primary);
    border: 0 solid var(--bg-primary);
}

.ms_btn:hover {
    background-color: var(--bg-primary);
    border: 0 solid var(--bg-primary);
}

@media screen and (min-width: 992px) {
    .contact_container {
        width: 70%;
        margin: 0 auto;
    }
}
/* FOOTER */
.details {
    color: white;
    background-color: var(--bg-section);
}

.footer_logo-circle {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
}

.footer_logo-inner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.details :last-child p a{
    color: var(--bg-primary);
}

.copyright {
    color: white;
    background-color: var(--bg-secondary);
}