/* VARIABLES */
/* Colors */
:root {
    --bg-primary: #1abc9c;
    --bg-secondary: #2c3e50;
    --bg-section: #3a546d;
}

/* RESET */
body {
    /* background-color: aqua; */
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/* UTILITIES */
.gap-10 {
    gap: 10px;
}

/* HEADER */
nav {
    height: 100px;
    background-color: var(--bg-secondary);
    line-height: 100px;
    color: white;
}

.header_hamburger i{
    padding: 3px;
    border: 1px solid white;
}

